@model List<Aluno>//vai receber uma lista de alunos esse HTML

@{
}

<h2 class="text-center mb-5">Alunos</h2>

<div class="row mb-5">
    <div class="col-4 p-0 justify-content-end">
        <form asp-controller="Aluno" asp-action="Index">
            <span class="btn-group">
                <input class="form-control" type="text" name="PesquisaTexto" placeholder="Search Key" />
                <input class="p-1 m-lg-2 btn btn-sm btn-info" type="submit" value="Search" />
            </span>
        </form>
    </div>

    <div class="col">
        <a class="btn btn-primary" asp-controller="Aluno" asp-action="Criar">Novo Aluno</a>
    </div>
    <div class="col">

    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Matricula</th>
            <th>Periodo</th>
            <th>Foto</th>
            <th>Created At</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        @foreach(var a in Model)
        {
            <tr>
                <td>@a.Id</td>
                <td>@a.Name</td>
                <td>@a.Matricula</td>
                <td>@a.Periodo</td>
                <td><img src="/alunos/@a.ImageFileName" width="100" /></td>@*image tem 100 pixels*@
                <td>@a.CreatedAt.ToString("MM/dd/yyyy")</td>
                <td style="white-space:nowrap">
                    <a class="btn btn-primary btn-sm" asp-controller="Aluno" asp-action="Editar" asp-route-id="@a.Id">Editar</a>
                    <a class="btn btn-primary btn-sm" asp-controller="Aluno" asp-action="Deletar" asp-route-id="@a.Id">Deletar</a>
                </td>
            </tr>

        }
    </tbody>
</table>